@inject IViewLocalizer localizer

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>

<footer class="main-footer">
    <strong>@localizer["Copyright"] <a href="#">ARP</a>.</strong>
    @localizer["AllRightsReserved"].
    <div class="float-right d-none d-sm-inline-block">
        @localizer["Version"] 1.0.0
    </div>
</footer>
